
.logo{
    animation-name: logoanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 15px;
}
.enviosText{
    animation-name: enviosanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes logoanim{
    0%{
        transform: 25px;
    }
    100%{
        transform: 25px;
       background-image: linear-gradient(to left, rgba(247, 76, 76, 0.445), rgba(223, 69, 69, 0.65));
    }
}
@keyframes enviosanim{
    0%{
        transform: 25px;
        border-radius: 10px;
        border-color: black;
    }
    100%{
        transform: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border-color: black;
    }
}
.card:hover{
    transform: translate(0px,10px);
 }

 .form-control:focus{
    transform: scale(1.05);
 }