.enviosText{
    animation-name: enviosanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes enviosanim{
    0%{
        transform: 25px;
        border-radius: 10px;
        border-color: black;
    }
    100%{
        transform: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border-color: black;
    }
}
.card:hover{
    transform: translate(0px,10px) !important;
 }

 .form-control:focus{
    transform: scale(1.05);
 }
 .btn-form2:hover{
    transform: scale(1.05);
 }
 #iconosRedes a:hover{
    transform: scale(1.1);
 }

 #contenedorCartas div a:hover{
    transform: scale(1.05);
 }

 #contenedorMasVendidos div a:hover{
    transform: scale(1.05);
 }