footer{
    background-color: $fondoFooter;
    min-height: 100px;
    p{
    color: $colorTitulo;
    text-align: center;
    }
    #iconosRedes{
    font-size: map-get($iconosRedes , fuente);
    padding: map-get($iconosRedes, padd );
    color: map-get($iconosRedes, colorFondo);
    }
    .bi{
        color: $colorSecundario;
    }
}