.contenedorTarjetas {
    
    .card{
       @include propiedadesCard (1400px, 20px, 20px);
        .card-body{
            @include propiedadesCardBody (flex, column);
            .card-title{
                font-weight: bold;
            }  
        }
    }
}
#contenedorCartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .card-body{
        @include propiedadesCardBody (flex, column);      
    }
    .card{
        @include propiedadesCard (1400px, 20px, 20px);
    }
}

#contenedorMasVendidos{
    .card-body{
        flex-direction: column;
    }
}
.carousel-inner{
    max-height: 39rem;
}

main h2{
    color: $colorTitulo;
}
#tituloFabricacion{
    color: $colorTitulo;
    font-size: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.mediosDePago ul li{
    background-color: rgba(255, 255, 255, 0);
    color: $colorTitulo;
}

#imgProductos{
    display: flex;
    justify-content: center;
}
aside {
    h2{
        color: $colorTitulo;
    }
    .enviosText{
        color: $colorSecundario;
    }
}
.form2{
    border-radius: 5px;
}

/* ------- main nosotros ------- */ 

.textTienda{
    color: $colorSecundario;
    font-weight: bold;
}
.textParrafo{
    color: $colorSecundario;
    font-weight: bold;
}