@media (max-width:412px){
    header .contenedor{
            .tituloLogo{
            width: 100%;
            margin: 0;
            font-size: 35px;
            color: $colorSecundario;
            font-weight: bold;
            text-align: center;
            }
}
    header .contenedor .subititulo{
        display: none;
    }

    main{
        h2{
            font-size: 20px !important;
        }
    }
    .navbar{
        .navbar-brand{
            font-size: 20px;
        }
        .nav-link{
            font-size: 15px !important;
            margin-left: 10px;
        }
        
    }
    
    #envios #medios {
        width: 90% !important;
    }
    .productosCard{
        width: 100% !important;
    }
    #contenedorCartas{
        flex-direction: column;
        .card{
            display:flex;
            align-items: center;
            .card-body{
                width: 100%;
                p{
                    font-size: 10px;
                }
            }
        }
    }
    #contenedorMasVendidos{
        flex-direction: column;
        .card-body{
            background-color: black;
        }
    }
    .card{
        width: 90% !important;
        &:hover{
            transform: translate(0px,10px);
            }
        .card-body{
            background-color: #55515c;
            color:$colorTitulo
        }
        .btn{
            background-color: $colorTitulo;
            color: $colorSecundario;
            font-weight: bold;
        }
        p{
            color:$colorTitulo !important;
        }
    }
    #tituloFabricacion{
        font-size: 17px;
    }
    .contenedorMapa {
        iframe{
            width: 300px !important;
            height: 200px;
        }
        h4{
            font-size: 15px !important;
        }
    }
    #historia{
        width: 90% !important;
    }
    footer{
        font-size: 10px;
        flex-direction: column;
        }
        p{
            font-size: 10px;
        }
        .tituloFooter{
            font-size: 15px !important;
        }
        #iconosRedes{
            display: flex;
            align-items: center;
            justify-content: space-between !important;
        }
    }
     aside{
         flex-direction: column;
     }
     #formulario{
        h2{
            font-weight: bold;
        }
    }
    .btn-form{
        background-color:$colorSecundario;
        color: $colorTitulo;
        font-weight: bold;
    }

@media (max-width:576px){
    header{
        .tituloLogo{
            font-size: 50px;
            margin-left: 40px;
        }
        .subititulo{
            font-size: 20px !important;
        }
    }
    main{
        h2{
            font-size: 30px;
        }
    }
    .navbar{
        .navbar-brand{
            font-size: 25px !important;
        }
        .nav-link{
            font-size: 20px !important;
            margin-left: 10px;
        }
        
    }
    #envios #medios {
        width: 90% !important;
    }
    .productosCard{
        width: 100% !important;
    }
    #contenedorCartas{
        flex-direction: column;
        .card{
            display:flex;
            align-items: center;
            .card-body{
                width: 100%;
            }
        }
    }
    #contenedorMasVendidos{
        flex-direction: column;
        .card-body{
            background-color: black;
        }
    }
    .card{
        width: 90% !important;
        &:hover{
            transform: translate(0px,10px);
            }
        .card-body{
            background-color: #55515c;
            color:$colorTitulo
        }
        .btn{
            background-color: $colorTitulo;
            color: $colorSecundario;
            font-weight: bold;
        }
        p{
            color:$colorTitulo !important;
        }
    }
    #tituloFabricacion{
        font-size: 17px;
    }
    .contenedorMapa {
        iframe{
            width: 500px;
        }
        h4{
            font-size: 15px !important;
        }
    }
    #historia{
        width: 90% !important;
    }
    footer{
        font-size: 10px;
        flex-direction: column;
        }
        p{
            font-size: 10px;
        }
        .tituloFooter{
            font-size: 15px !important;
        }
        #iconosRedes{
            display: flex;
            align-items: center;
            justify-content: space-between !important;
        }
    }
     aside{
         flex-direction: column;
     }
     #formulario{
        h2{
            font-weight: bold;
        }
    }
    .btn-form{
        background-color:$colorSecundario;
        color: $colorTitulo;
        font-weight: bold;
    }
    .containerWts{
        display: none;
    }
    
    

@media  (min-width:768px) {
    header{
        .tituloLogo{
            font-size: 50px;
            margin-left: 40px;
        }
        .subititulo{
            font-size: 20px !important;
        }
    }
    main{
        h2{
            font-size: 30px;
        }
    }
    .navbar{
        .navbar-brand{
            font-size: 25px !important;
        }
        .nav-link{
            font-size: 20px !important;
            margin-left: 10px;
        }
        
    }
    .card{
        width:75% !important;
        .card-body{
            background-color: #6d6875;
            color:$colorTitulo
        }
        .btn{
            background-color: $colorTitulo;
            color: $colorSecundario;
            font-weight: bold;
        }
        p{
            color:$colorTitulo !important;
        }
    }
    #contenedorMasVendidos{
        flex-direction: column;
        .card{
            margin:10px;
        }
        .card-body{
            background-color: black;
        }
    }
    #tituloFabricacion{
        font-size: 23px;
        margin-bottom: 15px;
    }
    footer{
        font-size: 10px;
        flex-direction: column;
        }
        p{
            font-size: 10px;
        }
        .tituloFooter{
            font-size: 15px !important;
        }
        #iconosRedes{
            display: flex;
            align-items: center;
            justify-content: space-between !important;
        }
    }
    aside{
        flex-direction: column;
    }
    #formulario{
        h2{
            font-weight: bold;
        }
    }
    .btn-form{
        background-color:$colorSecundario;
        color: $colorTitulo;
        font-weight: bold;
    }
 


@media  (min-width:1200px) {
    .contenedorTarjetas{
        
        display: flex;
        justify-content: space-around;
    
        .card-body{
            background: none !important;
            @include propiedadesCardBody (flex, column);
            p{
                font-size: 15px;
            }    
        }
        .btn{
            background-color: $colorSecundario;
            color: $colorTitulo;
            font-weight: bold;
            display: flex;
            justify-content: center;
            width: 100px;
        }
      
    }
    #contenedorCartas{
        display: flex;
        justify-content: space-around;
        .card-body{
            background: none;
            p{
                font-size: 15px;
            }
        }
        .card-title{
            font-weight: bold;
        }
    }
    .card{
        width:  35% !important;
        padding: 30px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(175, 168, 168);

    }

    #contenedorCartas{
        display: flex;
        justify-content: space-around;
    }
    #contenedorMasVendidos{
        flex-direction: row;
        .card{
            background-color: $colorSecundario;
            padding: 15px !important;
        }
        .card-body{
            background: none;
        }
    }
    #formulario{
        h2{
            font-weight: bold;
        }
    }
    .btn-form{
        background-color:$colorSecundario;
        color: $colorTitulo;
        font-weight: bold;
    }
    footer{
        display: flex;
        flex-direction: row;
        p{
            font-size: 15px;
        }
        .tituloFooter{
            font-size: 20px !important;
        }
    }
}