body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  font-weight: 900;
  background-color: gray;
}

header {
  color: #ffff;
  /* h1{
    font-size: 50px;
    }
    h2{
    font-size: 15px;*/
}

.navbar {
  background-color: #A21A5A !important;
}

.contenedorTarjetas .card {
  max-width: 1400px;
  margin: 20px;
  padding: 20px;
}

.contenedorTarjetas .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedorTarjetas .card .card-body .card-title {
  font-weight: bold;
}

#contenedorCartas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contenedorCartas .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contenedorCartas .card {
  max-width: 1400px;
  margin: 20px;
  padding: 20px;
}

#contenedorMasVendidos .card-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel-inner {
  max-height: 39rem;
}

main h2 {
  color: #ffff;
}

#tituloFabricacion {
  color: #ffff;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mediosDePago ul li {
  background-color: rgba(255, 255, 255, 0);
  color: #ffff;
}

#imgProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside h2 {
  color: #ffff;
}

aside .enviosText {
  color: #A21A5A;
}

.form2 {
  border-radius: 5px;
}

/* ------- main nosotros ------- */
.textTienda {
  color: #A21A5A;
  font-weight: bold;
}

.textParrafo {
  color: #A21A5A;
  font-weight: bold;
}

@media (max-width: 526px) {
  header .contenedor .tituloLogo {
    width: 100%;
    margin: 0;
    font-size: 35px;
    color: #A21A5A;
    font-weight: bold;
    text-align: center;
  }
  header .contenedor .subititulo {
    display: none;
  }
  main h2 {
    font-size: 20px !important;
  }
  .navbar .navbar-brand {
    font-size: 20px;
  }
  .navbar .nav-link {
    font-size: 15px !important;
    margin-left: 10px;
  }
  #envios #medios {
    width: 90% !important;
  }
  .productosCard {
    width: 100% !important;
  }
  #contenedorCartas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contenedorCartas .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contenedorCartas .card .card-body {
    width: 100%;
  }
  #contenedorCartas .card .card-body p {
    font-size: 10px;
  }
  #contenedorMasVendidos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contenedorMasVendidos .card-body {
    background-color: black;
  }
  .card {
    width: 90% !important;
  }
  .card:hover {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  .card .card-body {
    background-color: #55515c;
    color: #ffff;
  }
  .card .btn {
    background-color: #ffff;
    color: #A21A5A;
    font-weight: bold;
  }
  .card p {
    color: #ffff !important;
  }
  #tituloFabricacion {
    font-size: 17px;
  }
  .contenedorMapa iframe {
    width: 300px !important;
    height: 200px;
  }
  .contenedorMapa h4 {
    font-size: 15px !important;
  }
  #historia {
    width: 90% !important;
  }
  footer {
    font-size: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    font-size: 10px;
  }
  .tituloFooter {
    font-size: 15px !important;
  }
  #iconosRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formulario h2 {
  font-weight: bold;
}

.btn-form {
  background-color: #A21A5A;
  color: #ffff;
  font-weight: bold;
}

@media (max-width: 576px) {
  header .tituloLogo {
    font-size: 50px;
    margin-left: 40px;
  }
  header .subititulo {
    font-size: 20px !important;
  }
  main h2 {
    font-size: 30px;
  }
  .navbar .navbar-brand {
    font-size: 25px !important;
  }
  .navbar .nav-link {
    font-size: 20px !important;
    margin-left: 10px;
  }
  #envios #medios {
    width: 90% !important;
  }
  .productosCard {
    width: 100% !important;
  }
  #contenedorCartas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contenedorCartas .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contenedorCartas .card .card-body {
    width: 100%;
  }
  #contenedorMasVendidos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contenedorMasVendidos .card-body {
    background-color: black;
  }
  .card {
    width: 90% !important;
  }
  .card:hover {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  .card .card-body {
    background-color: #55515c;
    color: #ffff;
  }
  .card .btn {
    background-color: #ffff;
    color: #A21A5A;
    font-weight: bold;
  }
  .card p {
    color: #ffff !important;
  }
  #tituloFabricacion {
    font-size: 17px;
  }
  .contenedorMapa iframe {
    width: 500px;
  }
  .contenedorMapa h4 {
    font-size: 15px !important;
  }
  #historia {
    width: 90% !important;
  }
  footer {
    font-size: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    font-size: 10px;
  }
  .tituloFooter {
    font-size: 15px !important;
  }
  #iconosRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formulario h2 {
  font-weight: bold;
}

.btn-form {
  background-color: #A21A5A;
  color: #ffff;
  font-weight: bold;
}

.containerWts {
  display: none;
}

@media (min-width: 768px) {
  header .tituloLogo {
    font-size: 50px;
    margin-left: 40px;
  }
  header .subititulo {
    font-size: 20px !important;
  }
  main h2 {
    font-size: 30px;
  }
  .navbar .navbar-brand {
    font-size: 25px !important;
  }
  .navbar .nav-link {
    font-size: 20px !important;
    margin-left: 10px;
  }
  .card {
    width: 75% !important;
  }
  .card .card-body {
    background-color: #6d6875;
    color: #ffff;
  }
  .card .btn {
    background-color: #ffff;
    color: #A21A5A;
    font-weight: bold;
  }
  .card p {
    color: #ffff !important;
  }
  #contenedorMasVendidos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contenedorMasVendidos .card {
    margin: 10px;
  }
  #contenedorMasVendidos .card-body {
    background-color: black;
  }
  #tituloFabricacion {
    font-size: 23px;
    margin-bottom: 15px;
  }
  footer {
    font-size: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    font-size: 10px;
  }
  .tituloFooter {
    font-size: 15px !important;
  }
  #iconosRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formulario h2 {
  font-weight: bold;
}

.btn-form {
  background-color: #A21A5A;
  color: #ffff;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .contenedorTarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedorTarjetas .card-body {
    background: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorTarjetas .card-body p {
    font-size: 15px;
  }
  .contenedorTarjetas .btn {
    background-color: #A21A5A;
    color: #ffff;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100px;
  }
  #contenedorCartas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contenedorCartas .card-body {
    background: none;
  }
  #contenedorCartas .card-body p {
    font-size: 15px;
  }
  #contenedorCartas .card-title {
    font-weight: bold;
  }
  .card {
    width: 35% !important;
    padding: 30px;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #afa8a8;
  }
  #contenedorCartas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contenedorMasVendidos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contenedorMasVendidos .card {
    background-color: #A21A5A;
    padding: 15px !important;
  }
  #contenedorMasVendidos .card-body {
    background: none;
  }
  #formulario h2 {
    font-weight: bold;
  }
  .btn-form {
    background-color: #A21A5A;
    color: #ffff;
    font-weight: bold;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer p {
    font-size: 15px;
  }
  footer .tituloFooter {
    font-size: 20px !important;
  }
}

.enviosText {
  -webkit-animation-name: enviosanim;
          animation-name: enviosanim;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes enviosanim {
  0% {
    -webkit-transform: 25px;
            transform: 25px;
    border-radius: 10px;
    border-color: black;
  }
  100% {
    -webkit-transform: 25px;
            transform: 25px;
    background-color: white;
    border-radius: 10px;
    border-color: black;
  }
}

@keyframes enviosanim {
  0% {
    -webkit-transform: 25px;
            transform: 25px;
    border-radius: 10px;
    border-color: black;
  }
  100% {
    -webkit-transform: 25px;
            transform: 25px;
    background-color: white;
    border-radius: 10px;
    border-color: black;
  }
}

.card:hover {
  -webkit-transform: translate(0px, 10px) !important;
          transform: translate(0px, 10px) !important;
}

.form-control:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-form2:hover, .btn-wts:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#iconosRedes a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contenedorCartas div a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#contenedorMasVendidos div a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-form2, .btn-wts {
  background-color: #A21A5A;
  color: #ffff;
  font-weight: bold;
}

.btn-wts {
  background-color: #28D146;
  border-radius: 35px;
}

.containerWts {
  width: 200px;
  margin-left: 91%;
}

footer {
  background-color: black;
  min-height: 100px;
}

footer p {
  color: #ffff;
  text-align: center;
}

footer #iconosRedes {
  font-size: 26px;
  padding: 0 8px;
  color: #A21A5A;
}

footer .bi {
  color: #A21A5A;
}
/*# sourceMappingURL=style.css.map */